*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    /* background-color: #FFA1F5; */
    /* background-image: url(./movies.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#app {
    text-align: center;
    /* background-image: url(./myke-simon-atsUqIm3wxo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    padding: 4rem;
    margin-top: 60px;
    /* padding: 20px; */
    
    color: azure;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
h1{
    font-family:papyrus ;
    padding-bottom: 1rem;
}
#searchForm {
    margin-bottom: 10px;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    background-color: #F8FF95;
    border: 1px solid #ff00fb;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    cursor: pointer; 
}

.movie-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
#searchInput{
    height: 40px;
    border: 2px solid black;
    border-radius: 6rem;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
}
.smt{
    height: 40px;
    border-radius: 6rem;
    padding: .5rem;
    border: 2px solid black;
    cursor: pointer;
}
.social{
    font-family:papyrus ;
    text-shadow: 0px 0px 335px whitesmoke;
    font-weight: bold;
   
}